.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: fit-content;
    margin: 0 auto 150px;
}

.pre_title {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;

    span {
        display: inline-block;
        font-size: var(--secondary-font-size);
        line-height: 24px;
        color: var(--secondary-color);
    }
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: var(--primary-color);
    }

    div {
        display: flex;
        align-items: center;
        margin-left: auto;

        span {
            display: inline-block;
            font-size: var(--secondary-font-size);
            line-height: 24px;
            color: var(--secondary-color);
        }
    }
}

.donations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.donations_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 185px;
    padding: 20px;
    border: 1px solid #302BDB;
    border-radius: 2px;
    cursor: pointer;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .info_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 90px;

        h4 {
            max-width: 180px;
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            white-space: break-spaces;
            color: var(--title-color);
        }
    
        .divider {
            width: 80px;
            height: 3px;
            border-radius: 3px;
            background-color: var(--btn-main-bgcolor);
            align-self: baseline;
            margin: 12px 0;
        }
    }


    div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        
        .descr {
            display: inline-block;
            font-size: var(--secondary-font-size);
            line-height: 26px;
            color: var(--card-color);
            text-align: start;
        }
        
        .arrow {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url('../../theme/assets/icons/arrow.svg') no-repeat;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: var(--small-desktop-width);
        margin-bottom: 130px;
    }

    .donations {
        flex-wrap: nowrap;
        overflow: auto;

        .donations_card:first-child {
            margin-left: 9px;
        }
    }

    .donations_card {
        min-width: 270px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: var(--tablet-width);
        margin-bottom: 60px;
    }

    .pre_title {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 20px;

        h3 {
            line-height: 28px;
        }
    }

    .donations {
        flex-wrap: nowrap;
        overflow: auto;

        .donations_card:first-child {
            margin-left: 9px;
        }
    }

    .donations_card {
        min-width: 270px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        width: var(--mobile-width);
        margin-bottom: 50px;
    }

    .title {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 10px;
        }

        div {
            margin: 0;
        }
    }

    .donations {
        flex-wrap: nowrap;
        overflow: auto;

        .donations_card:first-child {
            margin-left: 9px;
        }
    }

    .donations_card {
        min-width: 270px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}
