.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: fit-content;
    margin: 0 auto 150px;
}

.pre_title {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;

    span {
        display: inline-block;
        font-size: var(--secondary-font-size);
        line-height: 24px;
        color: var(--secondary-color);
    }
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 16px;

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: var(--primary-color);
    }

    div {
        display: flex;
        align-items: center;
        margin-left: auto;

        span {
            display: inline-block;
            font-size: var(--secondary-font-size);
            line-height: 24px;
            color: var(--secondary-color);
        }
    }
}

.donations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.donations_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 185px;
    padding: 20px 14px 10px;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.08);;
    border-radius: var(--card-border-radius);
    cursor: pointer;

    .card_icon {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
        border-radius: 50%;
    }

    .card_icon_person {
        background: url('../../theme/assets/icons/person_military.svg') no-repeat;
    }

    .card_icon_heart {
        background: url('../../theme/assets/icons/heart.svg') no-repeat;
    }

    .card_icon_building {
        background: url('../../theme/assets/icons/building.svg') no-repeat;
    }
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 5px;

        h4 {
            margin-right: 7px;
            font-size: var(--primary-font-size);
            line-height: 24px;
            font-weight: 700;
            white-space: nowrap;
            color: var(--primary-color);
        }

        span {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url('../../theme/assets/icons/arrow.svg') no-repeat;
        }
    }

    & > span {
        display: inline-block;
        padding: 0 20px;
        font-size: var(--secondary-font-size);
        line-height: 26px;
        color: var(--secondary-color);
        text-align: center;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: var(--small-desktop-width);
        margin-bottom: 130px;
    }

    .donations {
        flex-wrap: nowrap;
        overflow: auto;

        .donations_card:first-child {
            margin-left: 9px;
        }
    }

    .donations_card {
        min-width: 270px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: var(--tablet-width);
        margin-bottom: 60px;
    }

    .pre_title {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 20px;

        h3 {
            line-height: 28px;
        }
    }

    .donations {
        flex-wrap: nowrap;
        overflow: auto;

        .donations_card:first-child {
            margin-left: 9px;
        }
    }

    .donations_card {
        min-width: 270px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        width: var(--mobile-width);
        margin-bottom: 60px;
    }

    .title {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 10px;
        }

        div {
            margin: 0;
        }
    }

    .donations {
        flex-direction: column;
        align-items: center;
    }

    .donations_card {
        margin-bottom: 10px;
    }
}
