.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 126px;
}

.title {
    margin-bottom: 40px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.carousel_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 50px;
    background-color: var(--secondary-bgcolor);
}

.carousel_card {
    display: flex;
    flex-direction: column;
    width: 788px;
    height: fit-content;
}

.card_img {
    width: 788px;
    height: 511px;
    margin-bottom: 16px;

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

.card_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    .info_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            color: var(--primary-color);
        }

        span {
            display: inline-block;
            font-size: var(--secondary-font-size);
            line-height: 24px;
            color: var(--primary-color);
        }
    }

    .info_text {
        min-height: 114px;

        p {
            font-size: 12px;
            line-height: 1.6;
            color: var(--primary-color);
        }
    }
}

div.carousel_stepper {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: inherit;
}

button.stepper_btn_next,
button.stepper_btn_back {
    position: absolute;
    top: -465px;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.11);
    background-color: #FCFCFC;
}

button.stepper_btn_next {
    right: -30px;

    span.arrow_next {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../../theme/assets/icons/arrow_next.svg') no-repeat;
    }
}

button.stepper_btn_back {
    left: -30px;

    span.arrow_back {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../../theme/assets/icons/arrow_back.svg') no-repeat;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    button.stepper_btn_next {
        right: 0;
    }

    button.stepper_btn_back {
        left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        margin-bottom: 70px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 37px;
    }

    .carousel {
        margin-bottom: 14px;
        padding: 33px;
    }

    .carousel_card {
        width: 532px;
    }

    .card_img {
        width: 532px;
        height: 345px;
        margin-bottom: 10px;
    }

    .card_info {
        .info_title {
            margin-bottom: 6px;

            h3 {
                font-size: 14px;
                line-height: 16px;
            }

            span {
                font-size: 10px;
                line-height: 16px;
            }
        }

        .info_text {
            p {
                font-size: 10px;
            }
        }
    }

    button.stepper_btn_next,
    button.stepper_btn_back {
        top: -355px;
        min-width: 40px;
        width: 40px;
        height: 40px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
    }

    button.stepper_btn_next {
        right: -20px;
    }

    button.stepper_btn_back {
        left: -20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        margin-bottom: 60px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 42px;
    }

    .carousel {
        margin-bottom: 30px;
        padding: 10px 0;
    }

    .carousel_card {
        width: 100%;
    }

    .card_img {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }

    .card_info {
        .info_title {
            display: flex;
            flex-direction: column;

            h3 {
                margin-bottom: 10px;
            }
        }
    }

    button.stepper_btn_next,
    button.stepper_btn_back {
        display: none;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .card_info {
        min-height: 203px;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .card_info {
        min-height: 265px;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .card_info {
        min-height: 323px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .card_info {
        min-height: 366px;
    }
}