.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: fit-content;
    margin: 0 auto 150px;
}

.title {
    margin-bottom: 40px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.carousel_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    & > div  button[type="button"] {
        top: 300px;
        z-index: 10;
        min-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.11);
        background-color: var(--footer-bgcolor);

        &:hover, &:focus {
            color: inherit;
        }

        &::before {
            display: none;
        }
    }

    & > div > button[type="button"]:first-child {
        left: 0;
        background: url('../../theme/assets/icons/arrow_back.svg') no-repeat center;
    }

    & > div > button[type="button"] {
        right: 0;
        background: url('../../theme/assets/icons/arrow_next.svg') no-repeat center;
    }

    & ul {
        & > li {
            width: 12px;
            height: 12px;
            margin: 0 9px;

            button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #EEEEEE;
            }

            button::before {
                display: none;
            }
        }

        & > li[class="slick-active"] {
            button {
                background-color: #5D5FEF;
            }
        }
    }
}

.carousel_card {
    display: flex !important;
    flex-direction: column;
    width: 970px !important;
    height: fit-content;
    margin: 0 auto;
}

.card_img {
    width: 970px;
    height: 629px;
    margin: 0 auto 50px;

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

.card_info {
    display: flex;
    width: 100%;
    min-height: 200px;

    .info_title {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-right: 20px;

        h3 {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            color: var(--primary-color);
        }

        div {
            width: fit-content;
            height: 30px;
            margin-bottom: 24px;
            padding: 0 20px;
            border-radius: 53px;
            font-size: var(--secondary-font-size);
            line-height: 30px;
            color: var(--primary-color);
            background: #FEE600;
        }

        span {
            display: inline-block;
            font-size: var(--secondary-font-size);
            line-height: 24px;
            color: var(--primary-color);
        }
    }

    .info_text {
        width: 70%;

        p {
            font-size: var(--secondary-font-size);
            line-height: 1.6;
            color: var(--primary-color);

            b {
                font-weight: 600;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: var(--small-desktop-width);
    }

    .carousel_wrapper {
        & > div button[type="button"] {
            top: 250px;
        }
    }

    .carousel_card {
        width: 795px !important;
    }

    .card_img {
        width: 795px;
        height: 515px;
    }

    .card_info {
        min-height: 225px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: var(--tablet-width);
        margin-bottom: 70px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 37px;
    }

    .carousel_wrapper {
        & > div button[type="button"] {
            top: 190px;
        }

        & > div > button[type="button"]:first-child {
            left: -10px;
        }

        & > div > button[type="button"] {
            right: -10px;
        }
    }

    .carousel_card {
        width: 596px !important;
    }

    .card_img {
        width: 596px;
        height: 386px;
        margin-bottom: 20px;
    }

    .card_info {
        .info_title {
            h3 {
                font-size: var(--primary-font-size);
                line-height: 20px;
            }

            div {
                font-size: 12px;
            }

            span {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .info_text {
            p {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        width: var(--mobile-width);
        margin-bottom: 70px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 42px;
    }

    .carousel_wrapper {
        & > div button[type="button"] {
            display: none !important;
        }

        & ul {
            position: absolute;
        }
    }

    .carousel_card {
        width: 100% !important;
    }

    .card_img {
        width: 100%;
        height: fit-content;
        margin-bottom: 60px;
    }

    .card_info {
        flex-direction: column;
        align-items: center;

        .info_title {
            display: flex;
            flex-direction: column;
            width: 100%;

            h3 {
                order: 1;
                margin-bottom: 10px;
            }

            div {
                order: 3;
                margin-bottom: 20px;
            }

            span {
                order: 2;
                margin-bottom: 10px;
            }
        }

        .info_text {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .card_info {
        min-height: 335px;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .card_info {
        min-height: 380px;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .card_info {
        min-height: 500px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .card_info {
        min-height: 545px;
    }
}