.wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 450px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 70px 0 58px;
}

.info_emergency {
    display: flex;
    width: fit-content;
    height: 30px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 29px;
    background-color: var(--emergency-bgcolor);

    span:first-child {
        display: inline-block;
        width: 16px;
        height: 14px;
        margin-right: 8px;
        background: url('../../theme/assets/icons/emergency.svg') no-repeat;
    }

    span:last-child {
        font-size: var(--secondary-font-size);
        line-height: 14px;
        font-weight: 500;
        color: var(--emergency-color);
    }
}

.info_title {
    margin-bottom: 24px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.info_descr {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: var(--primary-font-size);
    line-height: 24px;
    color: var(--primary-color);

    span {
        display: inline-block;
    }
}

.info_form {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        margin-bottom: 8px;
    }

    .form_field {
        width: 218px;
        height: 48px;
        padding: 16px;
        border: 1px solid var(--placeholder-color);
        border-right: none;
        outline: none;
        border-radius: var(--btn-border-radius) 0 0 var(--btn-border-radius);
        font-size: var(--primary-font-size);
        color: var(--primary-color);
        background: var(--secondary-bgcolor);
        box-sizing: border-box;

        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    button.form_btn {
        text-transform: none;
        box-shadow: none;
        width: 99px;
        height: 48px;
        border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
        background-color: var(--btn-main-bgcolor);

        &:hover {
            background-color: var(--btn-main-bgcolor);
        }
    }

    span {
        display: inline-block;
        font-size: var(--secondary-font-size);
        color: var(--secondary-color);
    }
}

.bg_img {
    width: 568px;
    height: 450px;
    background: url('../../theme/assets/images/main_bg.png') no-repeat;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .bg_img {
        width: 388px;
        height: 306px;
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        height: 470px;
    }

    .info {
        width: 329px;
        padding: 50px 0 70px;
    }

    .info_emergency {
        padding: 8px;

        span:last-child {
            font-size: 12px;
            white-space: nowrap;
        }
    }

    .info_title {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 42px;
    }

    .info_descr {
        display: block;
        margin-bottom: 20px;
        font-size: var(--secondary-font-size);

        span {
            display: inline;
        }

    }

    .info_form {
        div {
            margin-bottom: 10px;
        }

        .form_field {
            width: 211px;
        }
    }

    .bg_img {
        width: 310px;
        height: 246px;
        background-size: cover;
    }
}
