.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
    position: relative
}

.bg_img {
    width: 767px;
    height: 512px;
    background: url('../../theme/assets/images/main_img.svg') no-repeat;
    background-size: contain;
    position: absolute;
    top: 85px;
    background-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 100px;
}

.info_title {
    // width: 1170px;
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 115.2px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    z-index: 1;
}

.info_descr {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: var(--primary-font-size);
    line-height: 25.6px;
    color: #333333;
    text-align: center;
    z-index: 1;

    span {
        display: inline-block;
    }
}

a.contact_btn {
    text-transform: none;
    box-shadow: none;
    width: 200px;
    height: 48px;
    margin-bottom: 8px;
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-main-bgcolor);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}

@media (max-width: 1350px) {
    .info_title {
        font-size: 60px;
    }
}


@media (max-width: 1200px) {

    .info {
        width: 406px;
    }

    .bg_img {
        // width: 554px;
        height: 480px;
        background-size: contain;
    }
}

@media (max-width: 1024px) {

    .info {
        width: 305px;
        padding-top: 50px;
    }

    .info_emergency {
        padding: 8px;
        margin-bottom: 20px;

        span:last-child {
            font-size: 12px;
            white-space: nowrap;
        }
    }

    .info_title {
        margin-bottom: 20px;
        font-size: 44px;
        line-height: 57.2px;
    }

    .info_descr {
        max-width: 438px;
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 25.6px;

        span {
            display: inline;
        }

    }

    .bg_img {
        top: 20px;
        height: 480px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
        height: inherit;
        margin: 80px auto 150px;
    }

    .info {
        width: 100%;
        padding: 0 0 70px;
    }

    .info_emergency {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        margin-bottom: 20px;

        span:first-child {
            min-width: 16px;
            min-height: 14px;
        }
    }

    .info_title {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 42px;
    }

    .info_descr {
        display: block;
        margin-bottom: 20px;
        font-size: var(--secondary-font-size);

        span {
            display: inline;
        }

    }

    .bg_img {
        min-height: 397px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        padding: 0 20px;
        height: inherit;
        margin: 80px auto 0px;
    }

    .bg_img {
        height: 235px;
        width: 335px !important;
        min-height: auto;
    }
}

@media (max-width: 495px) {
    .info_title {
        font-size: 26px;
        line-height: 33.8px;
    }

    .info_descr {
        font-size: 14px;
        line-height: 21px;
    }

    a.contact_btn {
        width: calc(100% - 40px);
    }
}

