.side_nav {
    position: relative;
    display: none;
    flex-direction: column;
}

.side_nav_shadow,
.side_nav_shadow_hide {
    position: absolute;
    top: 52px;
    left: -20px;
    z-index: 9;
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(115, 115, 115, 0.2);
}

.side_nav_shadow_hide {
    display: none;
}

.side_nav_burger {
    width: 24px;
    height: 24px;
    background: url('../../theme/assets/icons/burger.svg') no-repeat;
    cursor: pointer;
}

.side_nav_menu,
.side_nav_menu_open {
    position: absolute;
    top: 53px;
    left: -20px;
    z-index: 10;
    display: none;
    min-width: 272px;
    height: 600px;
    padding: 20px;
    background-color: var(--main-bgcolor);

    & > ul:first-child {
        border-bottom: 1px solid var(--border-bgcolor);
    }

    a {
        display: inline-block;
        color: var(--title-color);
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.side_nav_menu_open {
    display: block;
}

.auth {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-bgcolor);
}

button.auth_reg_btn {
    width: 120px;
    height: 48px;
    box-shadow: none;
    border-radius: var(--btn-border-radius);
    font-weight: 600;
    text-transform: none;
    background-color: var(--btn-main-bgcolor);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}

button.auth_login_btn {
    width: fit-content;
    height: 48px;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    color: var(--title-color);

    &:hover {
        background-color: inherit;
        border: none;
    }
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .contacts_phone {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        & > div:first-child {
            margin-bottom: 20px;
        }

        div {
            display: flex;
            align-items: center;

            & > span:first-child {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 10px;
                background: url('../../theme/assets/icons/phone.svg') no-repeat;
            }

            span {
                display: inline-block;
                font-size: var(--primary-font-size);
                line-height: 24px;
                color: var(--primary-color);
            }
        }
    }

    .contacts_email {
        display: flex;

        span:first-child {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background: url('../../theme/assets/icons/email.svg') no-repeat;
        }

        span:last-child {
            display: inline-block;
            font-size: var(--primary-font-size);
            line-height: 24px;
            color: var(--primary-color);
        }
    }
}

.socials {
    display: flex;

    li {
        margin-right: 30px;

        a {
            display: inline-block;
            width: 33px;
            height: 33px;
        }
    }

    .socials_fb {
        a {
            background: url('../../theme/assets/icons/facebook.svg') no-repeat;
        }
    }

    .socials_tg {
        a {
            background: url('../../theme/assets/icons/telegram.svg') no-repeat;
        }
    }

    .socials_in {
        margin-right: 0;

        a {
            background: url('../../theme/assets/icons/linkedin.svg') no-repeat;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .side_nav {
        display: flex;
    }

    .side_nav_menu,
    .side_nav_menu_open {
        min-width: 300px;
        height: 400px;
    }

    .auth {
        border: none;
        padding-bottom: 0;
    }

    .footer_contacts,
    .socials {
        display: none;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .side_nav {
        display: flex;
    }
}
