.wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 105px;
    background: linear-gradient(to bottom, transparent 0 , transparent 19%, var(--emergency-bgcolor) 19%, var(--emergency-bgcolor) 81%, transparent 81%, transparent 100%);

    & > div {
        display: flex;
        width: var(--desktop-width);
        height: 100%;
        padding: 99px 70px 45px;
        margin: 0 auto;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.11);
        border-radius: var(--card-border-radius);
        background-color: var(--main-bgcolor);
    }
}

.form_item {
    width: 50%;
}

.form_item:first-child {
    padding-right: 130px;
}

.title {
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.info_question {
    margin: 20px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.info_message {
    font-size: var(--secondary-font-size);
    line-height: 24px;
    font-weight: 400;
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;

    & > div {
        display: flex;
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;

        & input {
            width: calc(100% - 15px);
        }

        & > input:first-child {
            margin-right: 30px;
        }
    }
}

.form_field {
    padding: 15px;
    border: 1px solid var(--copy-bgcolor);
    border-radius: var(--btn-border-radius);
    font-size: var(--primary-font-size);
    font-weight: 400;
    background: var(--footer-bgcolor);

    &::placeholder {
        color: var(--secondary-color);
        font-size: var(--primary-font-size);
        font-weight: 400;
    }
}

textarea.form_field {
    height: 80px;
    margin-bottom: 40px;
    font-family: Epilogue, sans-serif;
    resize: none;
}

button.form_btn {
    width: 200px;
    height: 48px;
    margin: 0 auto;
    border-radius: var(--btn-border-radius);
    box-shadow: none;
    text-transform: none;
    font-size: 16px;
    background-color: var(--btn-main-bgcolor);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        & > div {
            width: var(--small-desktop-width);
        }
    }

    .form_item:first-child {
        padding-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        margin-bottom: 90px;

        & > div {
            width: var(--tablet-width);
            padding: 50px 30px 25px;
        }
    }

    .info_question {
        margin: 20px 0 10px;
    }

    .form_item:first-child {
        padding-right: 20px;
    }

    .title {
        font-size: 36px;
        line-height: 37px;
    }

    .form {
        & > div {
            & input {
                width: calc(100% - 5px);
            }

            & > input:first-child {
                margin-right: 10px;
            }
        }
    }

    .form_field {
        padding: 10px 7px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        margin-bottom: 60px;

        & > div {
            flex-direction: column;
            width: var(--tablet-width);
            padding: 20px 10px;
        }
    }

    .form_item {
        width: 100%;
    }

    .info_question {
        margin: 20px 0 10px;
    }

    .form_item:first-child {
        margin-bottom: 20px;
        padding-right: 0;
    }

    .title {
        font-size: 36px;
        line-height: 42px;
    }

    .form_field {
        margin-bottom: 10px;
        padding: 10px 7px;
    }

    .form {
        & > div {
            flex-direction: column;
            margin-bottom: 0;

            & input {
                width: calc(100% - 20px);
            }

            & > input:first-child {
                margin-right: 0;
            }
        }
    }

    textarea.form_field {
        margin-bottom: 20px;
    }

    button.form_btn {
        margin: 0 auto;
    }
}
