.header {
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--title-color);
}

.logo {
    width: 173px;
    height: 48px;
    margin: 12px 0 20px 16px;
}

button.btn_contact {
    width: 120px;
    height: 48px;
    margin: 8px 0 24px;
    background-color: var(--btn-main-bgcolor);
    border-radius: var(--btn-border-radius);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}
