.header {
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--title-color);
}

.header_logo {
    width: 173px;
    height: 48px;
    margin: 12px 0 20px 16px;
}

a.header_btn {
    text-transform: none;
    box-shadow: none;
    width: 120px;
    height: 48px;
    margin: 8px 0 24px;
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-main-bgcolor);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header_logo {
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    a.header_btn {
        display: none;
    }

    .header {
        align-items: center;
        justify-content: flex-start;
    }

    .header_logo {
        margin: 0 auto;
    }
}
