.header {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 60px 0 117px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #f1f1f1;
}

.header_logo {
    width: 173px;
    height: 48px;
    margin: 16px 0;
}

.header_interaction {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-left: auto;
}

.interaction_auth {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-left: 80px;
}

button.auth_reg_btn {
    width: 120px;
    height: 48px;
    box-shadow: none;
    border-radius: var(--btn-border-radius);
    font-weight: 600;
    text-transform: none;
    background-color: var(--btn-main-bgcolor);

    &:hover {
        background-color: var(--btn-main-bgcolor);
    }
}

button.auth_login_btn {
    width: fit-content;
    height: 48px;
    margin-right: 20px;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    color: var(--title-color);

    &:hover {
        background-color: inherit;
        border: none;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .interaction_auth {
        margin-left: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 0 20px;
    }

    button.auth_reg_btn,
    button.auth_login_btn {
        display: none;
    }

    .header {
        align-items: center;
        justify-content: flex-start;
    }

    .header_logo {
        margin: 16px 0 16px calc((100% - 237px) / 2);
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .header {
        padding: 0 20px;
    }

    button.auth_reg_btn,
    button.auth_login_btn {
        display: none;
    }

    .header {
        align-items: center;
        justify-content: flex-start;
    }

    .header_logo {
        margin: 16px 0 16px calc((100% - 237px) / 2);
    }
}
