.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: fit-content;
    margin: 0 auto 150px;
}

.title {
    margin-bottom: 40px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.descr {
    width: 75%;
    margin-bottom: 30px;

    p {
        margin-bottom: 10px;
        font-size: var(--primary-font-size);
        line-height: 24px;
        color: var(--primary-color);
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.expertise {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.expertise_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 329px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.08);;
    border-radius: var(--card-border-radius);

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .card_icon_web {
        background: url('../../theme/assets/icons/web.svg') no-repeat center;
    }

    .card_icon_apps {
        background: url('../../theme/assets/icons/apps.svg') no-repeat center;
    }

    .card_icon_defi {
        background: url('../../theme/assets/icons/defi.svg') no-repeat center;
    }

    .card_icon_ml {
        background: url('../../theme/assets/icons/ml.svg') no-repeat center;
    }

    .card_icon_art {
        background: url('../../theme/assets/icons/art.svg') no-repeat center;
    }


    h4 {
        margin-bottom: 20px;
        font-size: var(--secondary-font-size);
        line-height: 24px;
        font-weight: 700;
        color: var(--primary-color);
    }

    ul {
        padding-left: 15px;
        font-size: 12px;
        line-height: 1.4;
        font-weight: 400;
        color: var(--card-color);
        list-style: inherit;

        li {
            margin-bottom: 5px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: var(--small-desktop-width);
        margin-bottom: 130px;
    }

    .expertise {
        overflow: auto;

        & > div:first-child {
            margin-left: 9px;
        }
    }

    .expertise_card {
        min-width: 210px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: var(--tablet-width);
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 37px;
    }

    .expertise {
        overflow: auto;

        & > div:first-child {
            margin-left: 9px;
        }
    }

    .expertise_card {
        min-width: 210px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        width: var(--mobile-width);
        margin-bottom: 60px;
    }

    .title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .descr {
        width: 100%;
        font-size: 14px;
    }

    .expertise {
        overflow: auto;

        & > a:first-child {
            margin-left: 9px;
        }
    }

    .expertise {
        overflow: auto;

        & > div:first-child {
            margin-left: 9px;
        }
    }

    .expertise_card {
        min-width: 210px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}