.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}

.title {
    margin-bottom: 40px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.descr {
    width: 95%;
    margin-bottom: 20px;
    font-size: var(--primary-font-size);
    line-height: 24px;
    color: var(--primary-color);
}

.expertise {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.expertise_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 211px;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.11);
    border-radius: var(--card-border-radius);
    background: var(--secondary-bgcolor);

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: var(--icon-bgcolor);

        span {
            display: inline-block;
            width: 30px;
            height: 30px;
        }

        .card_icon_web {
            background: url('../../theme/assets/icons/web.svg') no-repeat center;
        }

        .card_icon_apps {
            background: url('../../theme/assets/icons/apps.svg') no-repeat center;
        }

        .card_icon_defi {
            background: url('../../theme/assets/icons/defi.svg') no-repeat center;
        }

        .card_icon_ml {
            background: url('../../theme/assets/icons/ml.svg') no-repeat center;
        }

        .card_icon_art {
            background: url('../../theme/assets/icons/art.svg') no-repeat center;
        }
    }

    h4 {
        margin-bottom: 3px;
        font-size: var(--secondary-font-size);
        line-height: 24px;
        font-weight: 700;
        color: var(--primary-color);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 37px;
    }

    .expertise {
        overflow: auto;

        & > div:first-child {
            margin-left: 9px;
        }
    }

    .expertise_card {
        min-width: 170px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        margin-bottom: 60px;
    }

    .title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .descr {
        font-size: 14px;
    }

    .expertise {
        overflow: auto;

        & > a:first-child {
            margin-left: 9px;
        }
    }

    .expertise_card {
        min-width: 150px;
        height: 116px;
        margin-right: 9px;
        margin-bottom: 20px;
        padding: 0;

        div {
            width: 40px;
            height: 40px;
            margin: 23px 0 6px;

            .card_icon_web,
            .card_icon_apps,
            .card_icon_defi,
            .card_icon_ml,
            .card_icon_art{
                background-size: cover;
            }

            span {
                width: 18px;
                height: 18px;
                background-size: cover;
            }
        }

        h4 {
            font-size: var(--primary-font-size);
        }
    }
}