.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: fit-content;
    margin: 200px auto 0px;
}

.title {
    margin-bottom: 70px;
    font-size: var(--title-font-size);
    line-height: 49px;
    font-weight: 500;
    color: var(--title-color);
}

.descr {
    width: 75%;
    margin-bottom: 30px;

    p {
        margin-bottom: 10px;
        font-size: var(--primary-font-size);
        line-height: 24px;
        color: var(--primary-color);
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.expertise {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
    height: fit-content;
}

.card_wrapper {
    opacity: 1;
    transform: translate(0px, 0px);
}

.expertise_card_top, .expertise_card_bottom{
    min-height: 221px;
    position: relative;
    top: 0px;
    z-index: 4;
    transition: all 0.2s ease 0.05s;

    &:hover {
        top: 40px;

        .card_content {
            box-shadow: 0px 0px 4px rgba(48, 43, 219, 0.8);
        }

        .background_06 {
            bottom: 10px;
        }

        .background_04 {
            bottom: 20px;
        }

        .background_02 {
            bottom: 30px;
        }

        h4 {
            color: #302BDB;
        }
    }

    .card_content {
        background: #FFFFFF;
        min-height: 221px;
        z-index: 5;
        display: block;
        height: 100%;
        position: relative;
        border: 1px solid #302BDB;
        transition: all 0.2s ease 0s;
        padding: 30px;
    }

    .background {
        display: block;
        position: absolute;
        pointer-events: none;
        background: #FFFFFF;
        height: 100%;
        left: 2%;
        bottom: 0px;
        z-index: 3;
        transition: all 0.2s ease 0s;

        &.background_06 {
            width: 96%;
            height: 100%;
            left: 2%;
            z-index: 3;
            border: 1px solid rgba(48, 43, 219, 0.7);
        }
    
        &.background_04 {
            width: 92%;
            height: 100%;
            left: 4%;
            z-index: 2;
            border: 1px solid rgba(48, 43, 219, 0.5);
        }
    
        &.background_02 {
            width: 88%;
            height: 100%;
            z-index: 1;
            left: 6%;
            border: 1px solid rgba(48, 43, 219, 0.3);
        }
    }

    .divider {
        width: 80px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--btn-main-bgcolor);
        align-self: baseline;
        margin: 15px 0;
    }

    h4 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: var(--primary-color);
    }

    ul {
        padding-left: 15px;
        font-size: var(--secondary-font-size);
        line-height: 19.6px;
        font-weight: 400;
        color: var(--card-color);
        list-style: inherit;

        li {
            margin-bottom: 5px;
        }
    }
}

.expertise_card_top:hover {
    top: -40px;

    .background_06 {
        bottom: -10px;
    }

    .background_04 {
        bottom: -20px;
    }

    .background_02 {
        bottom: -30px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: var(--small-desktop-width);
        margin: 100px auto 0;
    }

    .descr {
        width: 90%;
    }

    .expertise {
        // overflow: auto;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;

    }

    // .expertise_card {
       
    // }

    .expertise_card_top, .expertise_card_bottom{
        min-height: 230px;
    }

    .card_content {
        min-height: 230px !important;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: var(--tablet-width);
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 37px;
    }

    .descr {
        width: 100%;
    }

    .expertise {
        // overflow: auto;
        grid-template-columns: repeat(2, 340px);
    }

    .expertise_card_top, .expertise_card_bottom {
        &:hover {
            top: 0 !important;
        }
    }

    .background {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: var(--mobile-width);
    }

    .title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .descr {
        width: 100%;
        font-size: 14px;
    }
    .expertise {
        display: flex !important;
        overflow: auto;
        padding: 40px 0 20px;

        & > div:first-child {
            margin-left: 9px;
        }
        .card_wrapper {
            min-width: 320px;
        }
    }

    .expertise_card {
        min-width: 210px;
        margin-right: 9px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        margin: 150px auto 0px;
    }
}

@media (max-width: 410px) {
    .expertise {
        gap: 10px !important;
       
        & > div:first-child {
            margin-left: 0 !important;
        }
    }

    .card_wrapper {
        min-width: 315px !important;
    }
}