.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: var(--footer-bgcolor);
}

.info {
    display: flex;
    margin-left: 50px;
    font-size: var(--secondary-font-size);
    color: var(--primary-color);
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        height: 38px;
    }

    .info {
        margin-left: 10px;
        font-size: 10px;
        line-height: 18px;
    }
}


