.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: var(--footer-bgcolor);
}

.info {
    display: flex;
    margin-left: 50px;
    font-size: var(--secondary-font-size);
    color: var(--primary-color)
}


