.nav {
    margin: 24px 43px 40px auto;

    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 48px;

            a {
                color: var(--title-color)
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav {
        margin-right: 20px;

        ul {
            li {
                margin-right: 20px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .nav {
        display: none;
    }
}