.nav {
    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 40px;

            a {
                font-size: 18px;
                line-height: 22px;
                color: var(--title-color)
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .nav {
        ul {
            li {
                margin-right: 20px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .nav {
        display: none;
    }
}