.nav {
    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 40px;

            a {
                font-size: 18px;
                line-height: 22px;
                font-weight: 500;
                color: var(--title-color)
            }
        }

        li:last-child {
            margin-right: 0;

            a {
                text-align: center;
                border: 1px solid #302BDB;
                border-radius: 4px;
                padding: 14px 47px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: #302BDB;
            }

        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .nav {
        ul {
            li {
                margin-right: 20px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .nav {
        display: none;
    }
}